<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hobbies_Page</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Welcome to hobbies page!</h1>
    <h2>Name: {{ name | default('unknown', true) }} {{ second_name }}</h2>
    <h2>Hobby: {{ Hobby | default('Drink water', true)}}</h2>

    <h2>hobbies:</h2>
    <ul>
        <li>{{ hobbies[0] }}</li>
        <li>{{ hobbies[1] }}</li>
        <li>{{ hobbies[2] }}</li>
    </ul>

    {% if hobbies[0]>hobbies[1] %}
        <h3>You need to find more hobbies</h3>
    {% else %}
        <h3>You have enough hobbies</h3>
    {% endif %}

    {% for i in range(11) %}
    {{ i }}
    {% endfor %}

</body>
</html>